#header{
    -fx-font-family: Norasi;
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, white, 2, 1.0, 0, 0);
    -fx-alignment: center;
}

#error{
    -fx-font-size: 10;
    -fx-text-fill: red;
}

#userName{
    -fx-prompt-text-fill: white;
    -fx-background-radius: 25;
}

#password{
    -fx-prompt-text-fill: white;
    -fx-font-size: 10;
    -fx-background-radius: 25;
}

#logIn{
    -fx-font-family: Ubuntu;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian,aqua,20,0.0,0,0);
    -fx-background-color: #2B39FF;
}